
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    BASIC  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
}

#wrapper {
    width: 100%;
    background: #202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: white!important;
    padding: 10px;
    min-height: 1200px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid skyblue;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #00CA79;

}


/*==============================================
    MENU STYLES    
    =============================================*/


.navbar-cls-top .navbar-brand {
    color: #fff;
    background: dodgerblue;
    width: 260px;
    text-align: center;
    height: 75px;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 25px;
    text-transform:uppercase;
}

.header-right {
    background-color: #202020;
    padding: 25px 50px 5px 50px;
    float: right;
    font-size: 16px;
    height: 74px;
}

.btn-header {
    background: white;
    text-align: center;
    border-radius: 20px;
    border: solid 2px black;
    cursor: pointer;
    color: dodgerblue;
    font-size: 20px;
    font-weight:900;
    padding: 10px 30px; 
    float: right;
    margin: 10px;
}
.btn-header:hover{
    background: cornflowerblue ;
    color: white;
}
.header-right-text {
    font-size: 25px;
    text-transform:uppercase;
    font-weight: 900;
    color: red;
    cursor: pointer;
}

.header-right-text:hover{
    color:white;
}


.navbar-cls-top .navbar-brand:hover {
    background: #202020;
    color: skyblue;
}

.search{
   margin: 20px 20px 20px 80px;
   border-radius:10px;
   width: 300px;
   height: 35px;
   background-color: beige;
   border: 2px black solid;

}


.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

    .sidebar-collapse .nav {
        padding: 0;
    }

        .sidebar-collapse .nav > li > a {
            color: #fff;
            background: #202020;
            text-shadow: none;
            padding: 15px 40px;
            border-bottom: 1px solid #2F2E31;
        }

    .sidebar-collapse > .nav > li > a {
        padding: 15px 10px;
    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus {
        background: #0A0A0A;
        outline: 0;
    }



.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #202020;
}

.navbar-cls-top {
    background:gray;
    border:none;
}


.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    background: #000000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #00CA79;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.nav > li > a > i {
    margin-right: 10px;
}


    @media (min-width:768px) {
        #page-wrapper {
            margin: 0 0 0 260px;
            padding: 15px 30px;
            min-height: 1200px;
            background-color:lightgrey;
            cursor: pointer;
            position: relative;
        }
    
    
        .navbar-side {
            z-index: 1;
            position: absolute;
            width: 260px;
        }
    
        .navbar {
            border-radius: 0px;
        }
    }
#page-wrapper-home{
    margin: 0 0 0 260px;
            padding: 5px 30px;
            min-height: 700px;
            background-color: white;
            cursor: pointer;
            position: relative;
}

