.btn-add{
    width: 230px;
    background-color: dodgerblue;
    height: 30px;
    margin-left: 700px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: 1px solid #202020;

}
.btn-add:hover{
    background-color: cornflowerblue;
    color: #202020;
}

.table {
    
}

.table th {
    text-align: left;
}
